In [5]:
employee_info = {}

while True:
    print("1. Create Employee Record.")
    print("2. Update existing Employee details.")
    print("3. Delete an Employee Record.")
    print("4. Display.")
    print("5. Exit")
    
    choice = int(input("Please enter your choice between 1 to 5: "))
    
    if choice == 1:
        print("Let's create an Employee record".center(100, "="))
        
        name = input("Enter the Employee name: ")
        emp_id = int(input("Enter the Employee ID: "))
        phone = input("Enter the phone number of the Employee: ")
        tech = input("Please enter the tecnlogies that the Employee is working on as CSV: ")
        employee_info[emp_id] = {"name": name, "phone": phone, "tech": tech.split(",")}
        print("".center(100, "="))
    elif choice == 2:
        print("Let's update an Employee record".center(100, "="))
        
        who = int(input("whose details do you want update? Please enter the Employee ID: "))
        record = employee_info[who]
        for key, value in record.items():
            new_value = input('{}: {}'.format(key, value))
            employee_info[who][key] = value if new_value != " " else new_value
        print("".center(100, "="))
    elif choice == 3:
        print("Let's delete an Employee record".center(100, "="))
        
        who = int(input("Enter the Employee id: ")) 
        if who in employee_info:
            del employee_info[who]
        else:
            print("Record not found!")
        print("".center(100, "="))
    elif choice == 4:
        print("Employee Information".center(100, "="))5
        for key, value in employee_info.items():
            print(f"{key}: {value}")
        print("".center(100, "="))
    else:
        break

1. Create Employee Record.
2. Update existing Employee details.
3. Delete an Employee Record.
4. Display.
5. Exit
Please enter your choice between 1 to 5: 4
========================================Employee Information========================================
====================================================================================================
1. Create Employee Record.
2. Update existing Employee details.
3. Delete an Employee Record.
4. Display.
5. Exit
Please enter your choice between 1 to 5: 5

In [8]:
n = [1, 2, 3, 4, 5, 6, 7, 8]
num = int(input("Enter an index: "))

squares = []
for num in n:
    squares.append(num ** 2)
idx_pos = n.index(num)
print(squares[idx_pos])

Enter an index: 3
64

In [13]:
num = int(input("Enter the index for which you want to see suqares: "))
sq = [i ** 2 for i in range(1, num + 1)]
idx_pos = n.index(num)
print(sq[idx_pos])

Enter the index for which you want to see suqares: 2
4

In [14]:
#dictionary comprehension
{k: k ** 2 for k in range(1, 6)}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [15]:
# convert tuple to dict

# {0: 45, 1: 77, 2: 109, 3: "data", 4:[]}
tp = (45, 77, 109, 'data, ["Raj", "Rohan"]')

In [16]:
{k: tp[k] for k in range(len(tp))}

{0: 45, 1: 77, 2: 109, 3: 'data, ["Raj", "Rohan"]'}

In [17]:
# logic other way

{tp.index(v): v for v in tp}

{0: 45, 1: 77, 2: 109, 3: 'data, ["Raj", "Rohan"]'}

In [18]:
# how to reverse elements of a tuple
tp[::-1]

('data, ["Raj", "Rohan"]', 109, 77, 45)

In [23]:
tp1= (1, 2, 3, 4)

In [24]:
tp1[::-1]

(4, 3, 2, 1)

In [25]:
s = {10, 30, 7, 8, 1, 2, 3, 5}

In [26]:
type(s)

set

In [27]:
l = [10, 30, 7, 8, 1, 2, 3, 5, 10, 30]
s = set(l)
print(s)

{1, 2, 3, 5, 7, 8, 10, 30}

In [28]:
dir(s)

['__and__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [30]:
s1 = {1, 2, 5, 6, 7}
s2 = {5, 6, 7}
s1.difference(s2)

{5, 6, 7}

In [31]:
s1.intersection(s2)

{5, 6, 7}

In [32]:
s1 = {10, 30, 7, 8, 1, 2, 3, 5}

In [33]:
s1.pop()

1

In [41]:
help(set.update)

Help on method_descriptor:

update(...)
    Update a set with the union of itself and others.

In [42]:
s2 = {16, 14, 15, 13, 9}

In [43]:
s1.update(s2)

In [44]:
s1

{2, 3, 5, 7, 8, 9, 10, 13, 14, 15, 16, 30}

In [45]:
s2

{9, 13, 14, 15, 16}

In [46]:
# Symmetric Difference
s1 ^ s2

{2, 3, 5, 7, 8, 10, 30}

In [47]:
# Set Union
s1 | s2

{2, 3, 5, 7, 8, 9, 10, 13, 14, 15, 16, 30}

In [48]:
def greetings():
    print("Hello, Kartik!")
    print("How are you doing?")
    print("Would you like to learm Python?")

In [49]:
greetings()

Hello, Kartik!
How are you doing?
Would you like to learm Python?

In [52]:
def greeting(name, age):
    print(f"Hello, {name}!")
    print(f"How are you doing?")
    print("Would you like to learm Python?")
    if isinstance(age, (int, float)):
        print(f"Your age is {age}.")

In [55]:
greeting("Kartik", 22)

Hello, Kartik!
How are you doing?
Would you like to learm Python?
Your age is 22.

In [57]:
def greeting():
    """
     this function is responsible to greet people
    """
    pass

In [58]:
help(greeting)

Help on function greeting in module __main__:

greeting()
    this function is responsible to greet people

In [63]:
def greeting(name = '', age = 25):
    """
     this function is responsible to greet people
    """
    print("Hello {}.".format(name))
    print("Welcome to learning Python")
    if isinstance(age, (int, float)):
        print(age)

In [64]:
greeting(name = "John")

Hello John.
Welcome to learning Python
25

In [85]:
def greeting(*args, phone = "9999999999", address = "Pune"):
    """
    *args captures variable number of arguments in a tuple
    so that we can process them in the function
    """
    print(f"All arguments: {args}.")
    print(f"Name is {args[0]}.")
    print(f"Age is {args[1]}.")
    print(f"Programming Languages: {args[2]}.")
    print(f"Favourite Sports: {args[3]}.")
    print(f"Phone number is {phone}.")
    print(f"Address is {address}.")

In [86]:
greeting("Kartik", 22, ["Python", "c++"], "football")

All arguments: ('Kartik', 22, ['Python', 'c++'], 'football').
Name is Kartik.
Age is 22.
Programming Languages: ['Python', 'c++'].
Favourite Sports: football.
Phone number is 9999999999.
Address is Pune.

In [68]:
greeting("Kartik", 22, 1010101010, "Mumbai")

Name is Kartik.
Age is 22.
Phone number is 1010101010.
Address is Mumbai.

In [110]:
def get_data(name, *args, **kwargs):
    
    """ **kwargs accepts variable number of arguments as
    as key value pair and stores it in a dictionary for
    processing in the function body """
    
    print(f"Player Name: {name}.")
    print(f"args: {args}.")
    print(f"kwargs: {kwargs}.")   
    print(f"Football Club, Preferred positon: {kwargs['club']}, {kwargs['position']}.")
    print(f"Jersey Number: {args[1]}.")
    print(f"Market Value: {args[0]} million euros.")

In [111]:
get_data("Pedri", 80, 16, club = "Barcelona", position = "CAM")

Player Name: Pedri.
args: (80, 16).
kwargs: {'club': 'Barcelona', 'position': 'CAM'}.
Football Club, Preferred positon: Barcelona, CAM.
Jersey Number: 16.
Market Value: 80 million euros.

In [109]:
get_data("Ansu Fati", 60, 10, club = "Barcelona", position = "LWF")

Name: Ansu Fati.
args: (60, 10).
kwargs: {'club': 'Barcelona', 'position': 'LWF'}.
Club, Preferred positon: Barcelona, LWF.
Jersey Number: 10.
Market Value: 60 million euros.

In [113]:
def natural_nums(num):
    print(*[i for i in range(1, num + 1)])
natural_nums(10)

1 2 3 4 5 6 7 8 9 10

In [114]:
def square(n):
    return n**2
square(10)

100

In [115]:
# Lambda functions
# lamda args: expression

square = lambda n: n ** 2
square(10)

100

In [118]:
# map(function, iterables)
#list(map(square, [1, 2, 3, 4, 5]))

list(map(lambda n: n ** 2, [1, 2, 3, 4, 5]))

[1, 4, 9, 16, 25]

In [123]:
print(*list(map(str.upper, ["pedri", "cam", "barcelona", "spain"])))

PEDRI CAM BARCELONA SPAIN

In [129]:
def f1():
    global temp
    temp = 10
    print(temp)

In [130]:
f1()

10

In [131]:
temp

10

In [138]:
def outer():
    i = 10
    j = 8
    def inner1():
        print(i)
        print("First inner function")
    def inner2():
        print(j)
        print("Second inner function")
    inner1()
    inner2()
    return inner1, inner2

In [139]:
p = outer()

10
First inner function
8
Second inner function

In [140]:
dir(p)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [146]:
type(p)

tuple

In [142]:
p[0]()

10
First inner function

In [143]:
p[1]()

8
Second inner function

In [150]:
# Higher Order Functions
def outer(f):
    def inner():
        result = f()
        return result ** 2
    return inner

def num():
    return 5

In [152]:
r = outer(num)

In [153]:
r

In [154]:
r()

25

In [155]:
@outer
def num():
    return 5

In [156]:
num()

25

In [2]:
def outer(f):
    def inner(n1, n2):
        result = f(n1, n2)
        return result ** 2
    return inner

In [3]:
@outer 
def num(n1, n2):
    return n1+n2+5

In [4]:
num(19, 4)

784

In [16]:
def validate(func):
    def validator(*args, **kwargs):
        if len(args) >= 1:
            if args[1] == 0:
                print("Invalid Input!")
                return None
            else:
                power = func(args[0], args[1])
                return power
        else:
            print("Invalid arguments!")
    return validator

In [20]:
# Decorator
import math
@validate
def mypower(x, y):
    return math.pow(x, y)

In [21]:
mypower(10, 2)

100.0

In [1]:
lst = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [2]:
list(filter(lambda x: x %2 == 0, lst))

[2, 4, 6, 8, 10]

In [9]:
list(map(lambda x: x ** 3, lst))

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [15]:
# general purpose decorators

def a_decorator_passing_arbritary_arguments(function_to_decorate):
    def a_wrapper_accepting_arbitary_arguments(*args, **kwargs):
        print("The positional arguments are: ", args)
        print("The keyword arguments are", kwargs)
        function_to_decorate(*args)
    
    return a_wrapper_accepting_arbitary_arguments

@a_decorator_passing_arbritary_arguments
def function_with_no_arguments():
    print("No arguments here...")

In [17]:
function_with_no_arguments()

The positional arguments are:  ()
The keyword arguments are {}
No arguments here...

In [21]:
# Passing postional arguments to decorators
def accept_the_arguments(function_to_decorator):
    def inner_function(*args, **kwargs):
        print("The positional arguments are: ", args)
        print("The keyword arguments are", kwargs)
        function_to_decorator(*args)
    return inner_function

@accept_the_arguments
def function_with_args(a, b, c):
    print(a, b, c)
    
function_with_args(10, 20, 30)

The positional arguments are:  (10, 20, 30)
The keyword arguments are {}
10 20 30

In [22]:
# passing kwargs based arguments

def accepting_kwargs(function_to_decorator):
    def inner_function(*args, **kwargs):
        print(f"args: {args}")
        print(f"kwargs: {kwargs}")
        function_to_decorator(*args, **kwargs)
    return inner_function

@accepting_kwargs
def functions_with_args(*args, **kwargs):
    print(f"Inside functions_with_args, args: {args}")
    print(f"Inside functions_with_args, kwargs: {kwargs}")

In [23]:
function_with_args(1, 2, 3, name = "Pedri", address = "Barcelona")

The positional arguments are:  (1, 2, 3)
The keyword arguments are {'name': 'Pedri', 'address': 'Barcelona'}
1 2 3

In [27]:
# passing argument to decorator

def decorator_with_args(decorator_args1, decorator_args2, decorator_args3):
    
    def decorator(func):
        def wrapper(function_args1, function_args2, function_args3):
            print(f"The wrapper can access all the variables\n"
                  f"\t from the decorator maker: {decorator_args1} {decorator_args2} {decorator_args3}\n"
                  f"\t from the function call: {function_args1} {function_args2} {function_args3}\n"
                  f"and pass them into decorator function")
            
            return func(function_args1, function_args2, function_args3)
        return wrapper
    return decorator

pandas = "Pandas"
@decorator_with_args(pandas, "Numpy", "Scikit-learn")
def actual_function(function_args1, function_args2, function_args3):
    print(f"This is decorated function and it only knows about its args: {function_args1} {function_args2} {function_args3}")
    
actual_function("John", "Science", "Tools")

The wrapper can access all the variables
	 from the decorator maker: Pandas Numpy Scikit-learn
	 from the function call: John Science Tools
and pass them into decorator function
This is decorated function and it only knows about its args: John Science Tools

In [30]:
def count_digits(num):
    count = 0
    while(num > 0):
        num = num // 10
        count += 1
    return count
count_digits(321)

3

In [31]:
321 // 10

32

In [32]:
32 // 10

3

In [33]:
3 // 10

0

In [37]:
# chaining of decorators

#from functions import wraps
# code for testing decorator chaining

def decor1(func):
    def inner():
        x = func()
        print("X in decor2", x)
        return x*x
    return inner

def decor(func):
    def inner():
        x = func()
        print("X in decor 1st...", x)
        return 2*x
    return inner

@decor1
@decor
def num():
    return 10

In [38]:
num()

X in decor 1st... 10
X in decor2 20

400

In [40]:
def simple_func(): # define
    print("hi") # logic
    print("hello") # 2
    return 'hello' # 3 manipulation
                   # return computed
                   # logic ....
simple_func()

hi
hello

'hello'

In [41]:
type(simple_func)

function

In [48]:
def simple_generator():
    print("hi")
    yield 'hello'
    x = 10
    y = x + 5
    print(y)
    yield 'Hello World'
    yield x

In [49]:
ret = simple_generator()
ret

In [44]:
for val in ret:
    print(val)

hi
hello
15
Hello World
10

In [47]:
list(ret)

hi
15

['hello', 'Hello World', 10]

In [50]:
next(ret)

hi

'hello'

In [51]:
next(ret)

15

'Hello World'

In [52]:
next(ret)

10

In [53]:
next(ret)

StopIteration:

In [62]:
def fibonacci(n):
    fib_nums = []
    a = 0
    b = 1
    while(a <= n):
        fib_nums.append(a)
        a, b = b, a + b
    print(fib_nums)

In [63]:
fibonacci(13)

[0, 1, 1, 2, 3, 5, 8, 13]

In [74]:
def fibonacci(n):
    first, second = 0, 1
    while n:
        yield first
        first, second = second, first + second
        n -= 1

In [75]:
gen = fibonacci(13)

In [67]:
next(gen)

0

In [68]:
next(gen)

1

In [72]:
list(gen)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144]

In [76]:
for val in gen:
    print(val)

0
1
1
2
3
5
8
13
21
34
55
89
144

In [77]:
import random
name = ["akshay", "john", "ale", "fred"]
designations = ["ngr", "se", "sse", "admin", "hr", "fin"]

def people_list():
    people = []
    for i in range(1000000):
        person = {"id": 1, "name": random.choice(name),
                  "desginations": random.choice(designations)}
        people.append(person)
    return people

def people_generator():
    for i in range(1000000):
        person = {"id": 1, "name": random.choice(name),
                 "designations": random.choice(designations)}
        yield person

In [78]:
p = people_list()
p[:100]

[{'id': 1, 'name': 'fred', 'desginations': 'se'},
 {'id': 1, 'name': 'fred', 'desginations': 'se'},
 {'id': 1, 'name': 'john', 'desginations': 'se'},
 {'id': 1, 'name': 'akshay', 'desginations': 'fin'},
 {'id': 1, 'name': 'akshay', 'desginations': 'hr'},
 {'id': 1, 'name': 'ale', 'desginations': 'admin'},
 {'id': 1, 'name': 'akshay', 'desginations': 'hr'},
 {'id': 1, 'name': 'fred', 'desginations': 'fin'},
 {'id': 1, 'name': 'akshay', 'desginations': 'sse'},
 {'id': 1, 'name': 'ale', 'desginations': 'hr'},
 {'id': 1, 'name': 'ale', 'desginations': 'fin'},
 {'id': 1, 'name': 'john', 'desginations': 'se'},
 {'id': 1, 'name': 'akshay', 'desginations': 'sse'},
 {'id': 1, 'name': 'fred', 'desginations': 'ngr'},
 {'id': 1, 'name': 'fred', 'desginations': 'ngr'},
 {'id': 1, 'name': 'fred', 'desginations': 'hr'},
 {'id': 1, 'name': 'fred', 'desginations': 'admin'},
 {'id': 1, 'name': 'ale', 'desginations': 'admin'},
 {'id': 1, 'name': 'fred', 'desginations': 'fin'},
 {'id': 1, 'name': 'fred', 'desginations': 'admin'},
 {'id': 1, 'name': 'fred', 'desginations': 'sse'},
 {'id': 1, 'name': 'ale', 'desginations': 'hr'},
 {'id': 1, 'name': 'john', 'desginations': 'fin'},
 {'id': 1, 'name': 'john', 'desginations': 'fin'},
 {'id': 1, 'name': 'fred', 'desginations': 'fin'},
 {'id': 1, 'name': 'fred', 'desginations': 'fin'},
 {'id': 1, 'name': 'fred', 'desginations': 'hr'},
 {'id': 1, 'name': 'fred', 'desginations': 'sse'},
 {'id': 1, 'name': 'john', 'desginations': 'fin'},
 {'id': 1, 'name': 'ale', 'desginations': 'admin'},
 {'id': 1, 'name': 'john', 'desginations': 'hr'},
 {'id': 1, 'name': 'ale', 'desginations': 'admin'},
 {'id': 1, 'name': 'john', 'desginations': 'admin'},
 {'id': 1, 'name': 'john', 'desginations': 'admin'},
 {'id': 1, 'name': 'fred', 'desginations': 'fin'},
 {'id': 1, 'name': 'akshay', 'desginations': 'ngr'},
 {'id': 1, 'name': 'john', 'desginations': 'admin'},
 {'id': 1, 'name': 'john', 'desginations': 'ngr'},
 {'id': 1, 'name': 'john', 'desginations': 'sse'},
 {'id': 1, 'name': 'ale', 'desginations': 'se'},
 {'id': 1, 'name': 'john', 'desginations': 'admin'},
 {'id': 1, 'name': 'fred', 'desginations': 'se'},
 {'id': 1, 'name': 'john', 'desginations': 'fin'},
 {'id': 1, 'name': 'ale', 'desginations': 'fin'},
 {'id': 1, 'name': 'john', 'desginations': 'sse'},
 {'id': 1, 'name': 'john', 'desginations': 'sse'},
 {'id': 1, 'name': 'john', 'desginations': 'ngr'},
 {'id': 1, 'name': 'akshay', 'desginations': 'fin'},
 {'id': 1, 'name': 'john', 'desginations': 'hr'},
 {'id': 1, 'name': 'ale', 'desginations': 'fin'},
 {'id': 1, 'name': 'john', 'desginations': 'sse'},
 {'id': 1, 'name': 'akshay', 'desginations': 'fin'},
 {'id': 1, 'name': 'john', 'desginations': 'fin'},
 {'id': 1, 'name': 'ale', 'desginations': 'se'},
 {'id': 1, 'name': 'john', 'desginations': 'sse'},
 {'id': 1, 'name': 'akshay', 'desginations': 'sse'},
 {'id': 1, 'name': 'john', 'desginations': 'fin'},
 {'id': 1, 'name': 'fred', 'desginations': 'hr'},
 {'id': 1, 'name': 'john', 'desginations': 'sse'},
 {'id': 1, 'name': 'john', 'desginations': 'se'},
 {'id': 1, 'name': 'john', 'desginations': 'fin'},
 {'id': 1, 'name': 'akshay', 'desginations': 'hr'},
 {'id': 1, 'name': 'akshay', 'desginations': 'fin'},
 {'id': 1, 'name': 'john', 'desginations': 'admin'},
 {'id': 1, 'name': 'ale', 'desginations': 'se'},
 {'id': 1, 'name': 'fred', 'desginations': 'admin'},
 {'id': 1, 'name': 'ale', 'desginations': 'se'},
 {'id': 1, 'name': 'akshay', 'desginations': 'ngr'},
 {'id': 1, 'name': 'ale', 'desginations': 'admin'},
 {'id': 1, 'name': 'john', 'desginations': 'se'},
 {'id': 1, 'name': 'ale', 'desginations': 'ngr'},
 {'id': 1, 'name': 'john', 'desginations': 'hr'},
 {'id': 1, 'name': 'ale', 'desginations': 'se'},
 {'id': 1, 'name': 'fred', 'desginations': 'ngr'},
 {'id': 1, 'name': 'ale', 'desginations': 'hr'},
 {'id': 1, 'name': 'john', 'desginations': 'se'},
 {'id': 1, 'name': 'akshay', 'desginations': 'admin'},
 {'id': 1, 'name': 'akshay', 'desginations': 'fin'},
 {'id': 1, 'name': 'ale', 'desginations': 'ngr'},
 {'id': 1, 'name': 'john', 'desginations': 'hr'},
 {'id': 1, 'name': 'john', 'desginations': 'hr'},
 {'id': 1, 'name': 'akshay', 'desginations': 'se'},
 {'id': 1, 'name': 'ale', 'desginations': 'fin'},
 {'id': 1, 'name': 'ale', 'desginations': 'se'},
 {'id': 1, 'name': 'ale', 'desginations': 'hr'},
 {'id': 1, 'name': 'akshay', 'desginations': 'admin'},
 {'id': 1, 'name': 'ale', 'desginations': 'admin'},
 {'id': 1, 'name': 'fred', 'desginations': 'fin'},
 {'id': 1, 'name': 'akshay', 'desginations': 'se'},
 {'id': 1, 'name': 'john', 'desginations': 'se'},
 {'id': 1, 'name': 'john', 'desginations': 'ngr'},
 {'id': 1, 'name': 'fred', 'desginations': 'hr'},
 {'id': 1, 'name': 'john', 'desginations': 'ngr'},
 {'id': 1, 'name': 'ale', 'desginations': 'se'},
 {'id': 1, 'name': 'akshay', 'desginations': 'admin'},
 {'id': 1, 'name': 'fred', 'desginations': 'ngr'},
 {'id': 1, 'name': 'ale', 'desginations': 'ngr'},
 {'id': 1, 'name': 'fred', 'desginations': 'admin'},
 {'id': 1, 'name': 'fred', 'desginations': 'ngr'},
 {'id': 1, 'name': 'john', 'desginations': 'hr'}]

In [79]:
def frange(start, stop, increment):
    x = start
    while x < stop:
        yield x
        x += increment

In [80]:
c = frange(0, 4, 0.5)
print(type(c))

for n in frange(0, 4, 0.5):
    print(n)

<class 'generator'>
0
0.5
1.0
1.5
2.0
2.5
3.0
3.5

In [86]:
def countdown(n):
    print("Starting to count from:", n)
    while n > 0:
        yield n
        n -= 1
    print("Done")

In [87]:
c = countdown(3)

In [83]:
next(c)

Starting to count from: 3

3

In [84]:
next(c)

2

In [85]:
next(c)

1

In [88]:
list(c)

Starting to count from: 3
Done

[3, 2, 1]

In [89]:
# Calculate the permuation and combination of below list

items = ['a', 'b', 'c']
from itertools import permutations
for p in permutations(items):
    print(p)

('a', 'b', 'c')
('a', 'c', 'b')
('b', 'a', 'c')
('b', 'c', 'a')
('c', 'a', 'b')
('c', 'b', 'a')

In [90]:
from itertools import combinations
for c in combinations(items, 3):
    print(c)

('a', 'b', 'c')

In [91]:
from itertools import combinations
for c in combinations(items, 2):
    print(c)

('a', 'b')
('a', 'c')
('b', 'c')

In [92]:
from itertools import combinations
for c in combinations(items, 1):
    print(c)

('a',)
('b',)
('c',)

In [93]:
mylist = ['a', 'b', 'c']
for idx, val in enumerate(mylist):
    print(idx, val)

0 a
1 b
2 c

In [94]:
for idx, val in enumerate(mylist, 1):
    print(idx, val)

1 a
2 b
3 c

In [98]:
x = [1, 2, 3, 4, 5]
y = [101, 102, 103, 104, 105]
d= {}
for i, j in zip(x, y):
    d[i] = j
print(d)

{1: 101, 2: 102, 3: 103, 4: 104, 5: 105}

In [99]:
a = [1, 2, 3]
b = ['w', 'x', 'y', 'z']
for i in zip(a, b):
    print(i)

(1, 'w')
(2, 'x')
(3, 'y')

In [100]:
from itertools import zip_longest
for i in zip_longest(a, b):
    print(i)

(1, 'w')
(2, 'x')
(3, 'y')
(None, 'z')

In [101]:
a = [1, 2, 3]
b = ['w', 'x', 'y']
c = [10, 11, 12]
for i in zip(a, b, c):
    print(i)

(1, 'w', 10)
(2, 'x', 11)
(3, 'y', 12)

In [102]:
from itertools import chain
for x in chain(a, b, c):
    print(x)

1
2
3
w
x
y
10
11
12

In [108]:
# flattenning the nested sequence
from collections import Iterable

def flatten(items, ignore_types = (str, bytes)):
    for x in items:
        if isinstance(x, Iterable) and not isinstance(x, ignore_types):
            yield from flatten(x) 
        else:
            yield x

In [109]:
items = [1, 2, [3, 4, [5, 6], 7], 8]
for x in flatten(items):
    print(x)

1
2
3
4
5
6
7
8

In [111]:
items = ['john', ['ale', 'fred'], 'tom']

for x in flatten(items):
    print(x)

john
ale
fred
tom

In [112]:
# 1. homework check the size of list of range(10000)
# check the size of generator

import sys, os
sys.getsizeof(1)

28

In [114]:
sys.getsizeof(list(range(10000)))

80056

In [116]:
# files
with open('sample.txt', 'rt') as f:
    data = f.read()
print(data)

Python is Fun
Python is Easy to Learn
Python has many applications
Python is an Interpreted Language
Python's syntax resembles that of English Language
Python is a very popular language

In [118]:
with open('sample.txt', 'rt') as f:
    for line in f:
        # process line
        print(line)

Python is Fun

Python is Easy to Learn

Python has many applications

Python is an Interpreted Language

Python's syntax resembles that of English Language

Python is a very popular language

In [119]:
with open("somefile.txt", "wt") as f:
    f.write("Hi")
    f.write("Hello")

In [120]:
# redirected output
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [125]:
with open('abc.txt', 'wt') as f:
    print("hi", file = f)
    print("hello", file = f)

In [126]:
with open('abc.txt', 'rt') as f:
    print(f.read())

hi
hello

In [2]:
with open('abc.txt', 'wb') as f:
    f.write(b'Hello World')

In [3]:
with open('abc.txt', 'rb') as f:
    print(f.read())

b'Hello World'

In [4]:
import os
if not os.path.exists("somefile"):
    with open("somefile", "wt") as f:
        f.write("Hello\n")
else:
    print("file already exists!!!")

In [5]:
import gzip
with gzip.open("somefile-new.gz", "wt") as f:
    f.write("text compression")

In [2]:
import bz2
with open("somefile-new.bz2", "wt") as f:
    f.write("text compression")

In [7]:
# read
import gzip
with gzip.open("somefile-new.gz", "rt") as f:
    text = f.read()
    print("text info",text)

text info text compression

In [3]:
# bz2 compression
with open("somefile-new.bz2", "rt") as f:
    text = f.read()
    print("text1", text)

text1 text compression

In [14]:
with open("sample.txt") as fh:
    print(fh.readline())
    print(fh.readlines())

Python is Fun

['Python is Easy to Learn\n', 'Python has many applications\n', 'Python is an Interpreted Language\n', "Python's syntax resembles that of English Language\n", 'Python is a very popular language']

In [15]:
with open("sample.txt") as fh:
    data = fh.read()
    print(data)
    print(fh.readlines())

Python is Fun
Python is Easy to Learn
Python has many applications
Python is an Interpreted Language
Python's syntax resembles that of English Language
Python is a very popular language
[]

In [16]:
with open("sample.txt") as fh:
    data = fh.read()
    print(data)
    fh.seek(0)
    print(fh.readlines())

Python is Fun
Python is Easy to Learn
Python has many applications
Python is an Interpreted Language
Python's syntax resembles that of English Language
Python is a very popular language
['Python is Fun\n', 'Python is Easy to Learn\n', 'Python has many applications\n', 'Python is an Interpreted Language\n', "Python's syntax resembles that of English Language\n", 'Python is a very popular language']

In [17]:
with open("sample.txt") as fh:
    for line in fh:
        print(line, end = '')

Python is Fun
Python is Easy to Learn
Python has many applications
Python is an Interpreted Language
Python's syntax resembles that of English Language
Python is a very popular language

In [19]:
with open("sample.txt") as fh:
    count = 1
    for line in fh:
        if 'python'.upper() in line.upper():
            print(count, line, end = '')
            count += 1

1 Python is Fun
2 Python is Easy to Learn
3 Python has many applications
4 Python is an Interpreted Language
5 Python's syntax resembles that of English Language
6 Python is a very popular language

In [33]:
# processing csv files
with open("BAJAJ-AUTO.csv", "rt") as f1:
    
    for line in f1:
        #print(line)
        rec = line.strip()
        cols = [l.strip('""') for l in rec.split(",")]
        print(cols)

['Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume']
['2020-09-21', '3045.949951', '3045.949951', '2960.100098', '2986.699951', '2886.864014', '779499']
['2020-09-22', '2984.199951', '3009.449951', '2942.100098', '2985.850098', '2886.042725', '690800']
['2020-09-23', '2993.000000', '3047.600098', '2955.000000', '2986.199951', '2886.380859', '949248']
['2020-09-24', '2964.899902', '3001.899902', '2912.800049', '2931.850098', '2833.847656', '736921']
['2020-09-25', '2954.949951', '2998.500000', '2926.050049', '2957.399902', '2858.543457', '559314']
['2020-09-28', '2976.899902', '3022.300049', '2952.850098', '2966.350098', '2867.194336', '902239']
['2020-09-29', '2992.699951', '3011.000000', '2890.000000', '2897.500000', '2800.645752', '1189292']
['2020-09-30', '2897.550049', '2939.000000', '2870.000000', '2881.100098', '2784.794189', '1095715']
['2020-10-01', '2940.000000', '3113.949951', '2940.000000', '2985.399902', '2885.607422', '4741959']
['2020-10-05', '3016.399902', '3020.000000', '2930.050049', '2952.300049', '2853.614014', '904969']
['2020-10-06', '2985.000000', '2993.000000', '2951.000000', '2972.250000', '2872.897217', '678723']
['2020-10-07', '2975.000000', '3097.949951', '2954.550049', '3077.399902', '2974.532227', '2126243']
['2020-10-08', '3070.000000', '3110.800049', '3051.000000', '3074.550049', '2971.777588', '1009344']
['2020-10-09', '3080.000000', '3097.649902', '3027.600098', '3059.800049', '2957.520752', '698666']
['2020-10-12', '3051.000000', '3074.649902', '3011.100098', '3022.750000', '2921.708984', '632718']
['2020-10-13', '3025.000000', '3051.100098', '2996.199951', '3034.449951', '2933.017822', '456767']
['2020-10-14', '3037.949951', '3075.000000', '3020.000000', '3054.149902', '2952.059326', '822555']
['2020-10-15', '3059.949951', '3130.000000', '3019.449951', '3027.399902', '2926.203613', '1076100']
['2020-10-16', '3030.000000', '3092.000000', '3029.000000', '3044.750000', '2942.973633', '548742']
['2020-10-19', '3070.000000', '3071.949951', '2970.199951', '2980.000000', '2880.388184', '598192']
['2020-10-20', '2980.000000', '3018.550049', '2957.000000', '3004.199951', '2903.779053', '899774']
['2020-10-21', '3030.000000', '3039.149902', '2992.050049', '3018.000000', '2917.117920', '982019']
['2020-10-22', '3009.800049', '3039.449951', '2977.000000', '3006.199951', '2905.712158', '1701072']
['2020-10-23', '3030.000000', '3095.500000', '2997.149902', '3082.250000', '2979.220215', '1217651']
['2020-10-26', '3097.949951', '3113.750000', '2885.000000', '2895.149902', '2798.374268', '2140237']
['2020-10-27', '2910.000000', '2972.250000', '2853.050049', '2947.350098', '2848.829590', '1812330']
['2020-10-28', '2947.000000', '2967.000000', '2890.199951', '2944.050049', '2845.639893', '1197897']
['2020-10-29', '2918.949951', '2934.000000', '2885.000000', '2925.350098', '2827.564941', '714820']
['2020-10-30', '2940.000000', '2963.199951', '2880.100098', '2886.899902', '2790.399902', '722940']
['2020-11-02', '2918.000000', '2934.850098', '2822.449951', '2843.699951', '2748.644043', '926407']
['2020-11-03', '2855.199951', '2929.949951', '2855.199951', '2914.850098', '2817.416016', '951287']
['2020-11-04', '2905.000000', '2947.750000', '2882.399902', '2926.100098', '2828.289795', '710858']
['2020-11-05', '2951.000000', '2970.000000', '2927.000000', '2949.300049', '2850.714355', '507235']
['2020-11-06', '2960.000000', '3000.000000', '2955.000000', '2977.399902', '2877.875000', '889565']
['2020-11-09', '2990.000000', '3022.000000', '2980.000000', '3001.949951', '2901.604248', '550477']
['2020-11-10', '3015.000000', '3022.500000', '2967.000000', '2997.500000', '2897.303223', '664054']
['2020-11-11', '3017.699951', '3040.000000', '2986.550049', '3023.100098', '2922.047363', '782511']
['2020-11-12', '3025.000000', '3040.899902', '2996.250000', '3017.449951', '2916.586182', '646257']
['2020-11-13', '3010.000000', '3048.000000', '2995.600098', '3040.750000', '2939.107422', '557563']
['2020-11-14', 'null', 'null', 'null', 'null', 'null', 'null']
['2020-11-17', '3034.000000', '3048.899902', '2996.449951', '3045.149902', '2943.360107', '501135']
['2020-11-18', '3055.800049', '3055.800049', '3003.899902', '3037.899902', '2936.352539', '455293']
['2020-11-19', '3033.000000', '3056.500000', '3010.000000', '3034.250000', '2932.824707', '888406']
['2020-11-20', '3033.000000', '3085.000000', '3022.000000', '3058.550049', '2956.312500', '820220']
['2020-11-23', '3068.000000', '3085.000000', '3030.600098', '3077.750000', '2974.870605', '493600']
['2020-11-24', '3077.000000', '3122.000000', '3053.000000', '3095.699951', '2992.220459', '858928']
['2020-11-25', '3100.000000', '3160.000000', '3041.000000', '3051.250000', '2949.256348', '1219151']
['2020-11-26', '3053.000000', '3150.000000', '3053.000000', '3129.199951', '3024.600830', '1264680']
['2020-11-27', '3144.899902', '3249.000000', '3135.699951', '3173.550049', '3067.468262', '2548347']
['2020-12-01', '3175.100098', '3248.949951', '3161.000000', '3243.649902', '3135.225098', '1400851']
['2020-12-02', '3243.649902', '3348.000000', '3221.500000', '3338.149902', '3226.566162', '1707284']
['2020-12-03', '3368.699951', '3371.199951', '3281.000000', '3294.399902', '3184.278564', '965142']
['2020-12-04', '3298.300049', '3344.550049', '3288.199951', '3311.399902', '3200.710449', '739106']
['2020-12-07', '3311.399902', '3335.000000', '3267.800049', '3319.550049', '3208.588135', '481597']
['2020-12-08', '3320.000000', '3384.750000', '3300.550049', '3326.199951', '3215.015625', '823352']
['2020-12-09', '3335.000000', '3353.649902', '3300.000000', '3306.550049', '3196.022705', '397850']
['2020-12-10', '3306.199951', '3319.949951', '3272.050049', '3290.850098', '3180.847412', '469288']
['2020-12-11', '3295.600098', '3337.149902', '3285.550049', '3327.649902', '3216.417236', '611154']
['2020-12-14', '3327.649902', '3334.550049', '3265.000000', '3289.000000', '3179.059082', '425416']
['2020-12-15', '3284.000000', '3347.199951', '3262.000000', '3271.649902', '3162.289063', '746643']
['2020-12-16', '3289.000000', '3308.449951', '3252.000000', '3303.500000', '3193.074463', '616704']
['2020-12-17', '3307.100098', '3330.000000', '3258.000000', '3270.449951', '3161.129150', '678073']
['2020-12-18', '3275.899902', '3363.000000', '3270.899902', '3347.550049', '3235.652100', '1362381']
['2020-12-21', '3352.500000', '3355.000000', '3198.500000', '3238.250000', '3130.005615', '797760']
['2020-12-22', '3245.000000', '3285.000000', '3172.000000', '3265.300049', '3156.151367', '825331']
['2020-12-23', '3281.000000', '3318.949951', '3261.000000', '3309.649902', '3199.018799', '816586']
['2020-12-24', '3318.000000', '3423.550049', '3316.050049', '3374.750000', '3261.942871', '1567636']
['2020-12-28', '3388.000000', '3422.000000', '3374.000000', '3414.699951', '3300.557373', '536954']
['2020-12-29', '3433.000000', '3459.899902', '3420.050049', '3431.550049', '3316.844238', '682613']
['2020-12-30', '3437.199951', '3472.850098', '3405.250000', '3448.149902', '3332.889160', '639180']
['2020-12-31', '3464.949951', '3464.949951', '3426.850098', '3444.050049', '3328.926514', '410959']
['2021-01-01', '3446.000000', '3494.000000', '3446.000000', '3481.250000', '3364.882813', '421643']
['2021-01-04', '3490.000000', '3528.000000', '3465.000000', '3522.449951', '3404.705566', '647829']
['2021-01-05', '3500.250000', '3505.000000', '3475.000000', '3492.649902', '3375.901611', '561562']
['2021-01-06', '3492.649902', '3527.000000', '3435.899902', '3462.699951', '3346.952881', '591620']
['2021-01-07', '3500.000000', '3507.350098', '3428.250000', '3437.949951', '3323.030273', '531361']
['2021-01-08', '3469.000000', '3544.600098', '3438.050049', '3529.149902', '3411.181641', '675643']
['2021-01-11', '3531.000000', '3634.550049', '3521.000000', '3617.350098', '3496.433594', '788461']
['2021-01-12', '3611.949951', '3642.800049', '3558.100098', '3624.250000', '3503.102783', '863270']
['2021-01-13', '3624.250000', '3633.000000', '3577.000000', '3600.899902', '3480.533203', '515154']
['2021-01-14', '3600.000000', '3658.649902', '3545.000000', '3576.050049', '3456.514160', '743848']
['2021-01-15', '3588.000000', '3623.000000', '3541.000000', '3580.300049', '3460.622070', '684649']
['2021-01-18', '3552.000000', '3618.050049', '3505.000000', '3563.750000', '3444.625244', '602004']
['2021-01-19', '3565.750000', '3664.000000', '3561.100098', '3641.000000', '3519.292969', '586410']
['2021-01-20', '3640.000000', '3692.800049', '3629.350098', '3643.949951', '3522.144287', '549040']
['2021-01-21', '3672.000000', '3807.000000', '3655.199951', '3703.300049', '3579.510498', '1533886']
['2021-01-22', '3749.949951', '4130.000000', '3740.050049', '4089.500000', '3952.801025', '8537143']
['2021-01-25', '4150.000000', '4210.000000', '4060.000000', '4168.950195', '4029.595459', '2368224']
['2021-01-27', '4133.399902', '4236.649902', '4108.100098', '4146.350098', '4007.750732', '2062088']
['2021-01-28', '4080.000000', '4190.000000', '4076.600098', '4135.799805', '3997.553223', '1262871']
['2021-01-29', '4168.000000', '4205.350098', '3990.000000', '4005.800049', '3871.898926', '1406268']
['2021-02-01', '4064.000000', '4141.000000', '3975.050049', '4114.700195', '3977.158936', '745011']
['2021-02-02', '4155.799805', '4271.149902', '4117.250000', '4201.450195', '4061.009033', '1167922']
['2021-02-03', '4205.000000', '4259.149902', '4160.100098', '4236.350098', '4094.742432', '681937']
['2021-02-04', '4236.350098', '4361.399902', '4200.000000', '4223.500000', '4082.321777', '1163598']
['2021-02-05', '4260.000000', '4272.799805', '4161.000000', '4231.250000', '4089.812744', '729191']
['2021-02-08', '4231.450195', '4258.500000', '4195.000000', '4237.450195', '4095.805664', '616236']
['2021-02-09', '4228.399902', '4238.000000', '4145.000000', '4154.899902', '4016.014893', '721336']
['2021-02-10', '4160.000000', '4215.000000', '4100.100098', '4151.549805', '4012.776611', '989105']
['2021-02-11', '4155.000000', '4202.399902', '4126.450195', '4181.899902', '4042.112305', '546983']
['2021-02-12', '4179.000000', '4195.799805', '4117.000000', '4136.049805', '3997.794922', '360063']
['2021-02-15', '4152.200195', '4194.649902', '4111.649902', '4122.299805', '3984.504395', '287922']
['2021-02-16', '4130.000000', '4177.600098', '4124.000000', '4132.850098', '3994.702148', '318280']
['2021-02-17', '4117.000000', '4205.000000', '4111.000000', '4165.700195', '4026.454102', '554383']
['2021-02-18', '4200.000000', '4200.000000', '4102.100098', '4115.450195', '3977.883789', '440460']
['2021-02-19', '4106.000000', '4106.700195', '3977.199951', '4001.100098', '3867.355957', '762200']
['2021-02-22', '4010.000000', '4040.000000', '3926.850098', '3971.550049', '3838.793701', '762310']
['2021-02-23', '3952.000000', '3998.699951', '3890.199951', '3912.250000', '3781.475830', '802871']
['2021-02-24', '3927.000000', '3950.000000', '3855.350098', '3931.850098', '3800.420898', '399843']
['2021-02-25', '3936.000000', '3980.000000', '3910.050049', '3944.800049', '3812.937988', '632973']
['2021-02-26', '3910.500000', '3943.100098', '3773.050049', '3798.699951', '3671.721436', '732210']
['2021-03-01', '3798.699951', '3858.800049', '3751.000000', '3814.050049', '3686.558594', '724589']
['2021-03-02', '3822.000000', '3962.149902', '3781.500000', '3944.050049', '3812.212891', '735847']
['2021-03-03', '3985.000000', '3985.000000', '3863.600098', '3901.100098', '3770.698730', '615104']
['2021-03-04', '3875.000000', '3927.600098', '3841.000000', '3879.050049', '3749.385742', '611769']
['2021-03-05', '3852.100098', '3913.250000', '3821.750000', '3852.850098', '3724.061523', '719936']
['2021-03-08', '3848.000000', '3848.000000', '3770.000000', '3798.750000', '3671.769775', '818275']
['2021-03-09', '3802.199951', '3829.699951', '3776.000000', '3798.750000', '3671.769775', '526071']
['2021-03-10', '3820.000000', '3879.000000', '3802.000000', '3867.550049', '3738.270264', '545219']
['2021-03-12', '3878.000000', '3878.000000', '3734.800049', '3746.399902', '3621.169678', '1119478']
['2021-03-15', '3775.000000', '3775.000000', '3621.050049', '3664.649902', '3542.152344', '1024257']
['2021-03-16', '3673.149902', '3690.000000', '3635.000000', '3654.449951', '3532.293213', '858553']
['2021-03-17', '3650.000000', '3678.000000', '3555.800049', '3569.600098', '3450.279785', '773240']
['2021-03-18', '3598.000000', '3692.949951', '3565.000000', '3664.500000', '3542.007324', '1285600']
['2021-03-19', '3653.949951', '3673.000000', '3570.199951', '3650.050049', '3528.040527', '1132705']
['2021-03-22', '3650.199951', '3685.000000', '3634.300049', '3664.750000', '3542.249023', '502724']
['2021-03-23', '3665.550049', '3709.949951', '3641.250000', '3678.350098', '3555.394531', '581531']
['2021-03-24', '3661.000000', '3698.000000', '3590.949951', '3603.550049', '3483.094727', '507559']
['2021-03-25', '3615.000000', '3615.000000', '3497.000000', '3501.600098', '3384.552734', '808505']
['2021-03-26', '3517.100098', '3619.250000', '3517.100098', '3600.050049', '3479.711914', '691000']
['2021-03-30', '3604.250000', '3674.750000', '3581.350098', '3666.699951', '3544.133789', '749230']
['2021-03-31', '3650.000000', '3683.600098', '3612.050049', '3670.600098', '3547.903564', '694645']
['2021-04-01', '3704.000000', '3764.300049', '3690.199951', '3743.050049', '3617.931885', '861229']
['2021-04-05', '3700.050049', '3740.000000', '3576.050049', '3598.500000', '3478.213623', '723573']
['2021-04-06', '3639.949951', '3640.000000', '3602.250000', '3615.500000', '3494.645264', '501882']
['2021-04-07', '3605.000000', '3693.449951', '3596.250000', '3680.199951', '3557.182617', '346982']
['2021-04-08', '3698.949951', '3698.949951', '3645.000000', '3649.800049', '3527.798828', '414020']
['2021-04-09', '3640.000000', '3694.000000', '3625.000000', '3651.300049', '3529.248779', '484807']
['2021-04-12', '3579.500000', '3599.000000', '3480.050049', '3541.000000', '3422.635742', '724230']
['2021-04-13', '3569.000000', '3623.699951', '3515.199951', '3602.449951', '3482.031494', '412122']
['2021-04-15', '3602.449951', '3655.550049', '3526.100098', '3597.500000', '3477.247070', '614450']
['2021-04-16', '3580.000000', '3657.500000', '3569.949951', '3634.649902', '3513.155029', '526787']
['2021-04-19', '3525.199951', '3562.000000', '3447.000000', '3515.550049', '3398.036377', '601819']
['2021-04-20', '3585.350098', '3624.300049', '3555.100098', '3600.899902', '3480.533203', '676558']
['2021-04-22', '3594.800049', '3694.000000', '3573.000000', '3681.399902', '3558.342285', '1005711']
['2021-04-23', '3680.000000', '3709.600098', '3640.000000', '3672.500000', '3549.739990', '631762']
['2021-04-26', '3682.199951', '3749.000000', '3676.000000', '3738.850098', '3613.872314', '480016']
['2021-04-27', '3738.850098', '3798.000000', '3727.199951', '3785.500000', '3658.962646', '518487']
['2021-04-28', '3810.050049', '3954.000000', '3807.000000', '3889.750000', '3759.728027', '1252958']
['2021-04-29', '3943.000000', '3954.300049', '3807.100098', '3836.449951', '3708.209717', '1335444']
['2021-04-30', '3805.000000', '3966.350098', '3800.000000', '3833.750000', '3705.599854', '1340273']
['2021-05-03', '3815.000000', '3906.800049', '3785.000000', '3851.850098', '3723.094971', '796444']
['2021-05-04', '3877.000000', '3888.000000', '3815.050049', '3830.350098', '3702.313721', '408324']
['2021-05-05', '3842.199951', '3852.600098', '3784.100098', '3843.800049', '3715.313965', '371452']
['2021-05-06', '3852.000000', '3970.000000', '3852.000000', '3941.199951', '3809.458252', '938078']
['2021-05-07', '3954.500000', '3967.800049', '3853.949951', '3866.750000', '3737.496826', '486456']
['2021-05-10', '3900.000000', '3903.850098', '3844.500000', '3868.649902', '3739.333252', '306598']
['2021-05-11', '3860.000000', '3894.699951', '3811.250000', '3879.300049', '3749.627441', '453808']
['2021-05-12', '3866.000000', '3900.000000', '3847.199951', '3875.250000', '3745.712646', '499840']
['2021-05-14', '3880.300049', '3894.149902', '3814.000000', '3848.800049', '3720.146973', '481619']
['2021-05-17', '3845.000000', '3924.399902', '3833.199951', '3864.399902', '3735.225342', '427552']
['2021-05-18', '3898.699951', '4078.000000', '3867.399902', '4067.199951', '3931.246338', '1371585']
['2021-05-19', '4075.000000', '4112.000000', '4047.800049', '4095.949951', '3959.035400', '788882']
['2021-05-20', '4095.949951', '4129.000000', '4062.100098', '4071.199951', '3935.112793', '465579']
['2021-05-21', '4082.199951', '4132.000000', '4055.100098', '4125.549805', '3987.645752', '378016']
['2021-05-24', '4125.000000', '4184.850098', '4107.399902', '4142.299805', '4003.835938', '500267']
['2021-05-25', '4165.549805', '4187.000000', '4141.000000', '4150.100098', '4011.375488', '297915']
['2021-05-26', '4150.100098', '4180.000000', '4142.000000', '4166.299805', '4027.033691', '261524']
['2021-05-27', '4170.000000', '4274.000000', '4152.750000', '4246.100098', '4104.166504', '878610']
['2021-05-28', '4240.200195', '4256.000000', '4187.649902', '4199.500000', '4059.124023', '285520']
['2021-05-31', '4190.000000', '4228.700195', '4167.000000', '4192.799805', '4052.647949', '321021']
['2021-06-01', '4204.899902', '4347.000000', '4204.899902', '4238.950195', '4097.255371', '1248169']
['2021-06-02', '4227.899902', '4305.899902', '4200.000000', '4295.049805', '4151.479980', '351583']
['2021-06-03', '4294.299805', '4300.000000', '4242.000000', '4273.350098', '4130.505371', '323999']
['2021-06-04', '4264.399902', '4295.450195', '4240.000000', '4250.049805', '4107.984375', '374317']
['2021-06-07', '4258.549805', '4284.899902', '4240.000000', '4249.750000', '4107.694336', '159646']
['2021-06-08', '4250.000000', '4275.000000', '4234.000000', '4269.899902', '4127.170898', '150816']
['2021-06-09', '4268.000000', '4272.500000', '4201.000000', '4224.500000', '4083.288330', '262617']
['2021-06-10', '4229.000000', '4233.500000', '4166.000000', '4179.899902', '4040.179199', '332571']
['2021-06-11', '4185.000000', '4216.850098', '4162.000000', '4172.500000', '4033.026611', '188155']
['2021-06-14', '4173.000000', '4195.500000', '4127.149902', '4146.500000', '4007.895752', '200657']
['2021-06-15', '4155.000000', '4171.799805', '4131.100098', '4138.100098', '3999.776611', '138010']
['2021-06-16', '4138.100098', '4158.049805', '4102.000000', '4110.450195', '3973.051025', '216236']
['2021-06-17', '4120.000000', '4120.000000', '4042.050049', '4053.899902', '3918.390869', '357704']
['2021-06-18', '4055.000000', '4193.350098', '4030.000000', '4167.100098', '4027.807129', '701993']
['2021-06-21', '4153.000000', '4196.000000', '4106.450195', '4182.649902', '4042.837158', '374649']
['2021-06-22', '4183.299805', '4230.600098', '4155.299805', '4221.600098', '4080.485352', '591793']
['2021-06-23', '4230.000000', '4259.649902', '4191.250000', '4198.600098', '4058.254150', '418053']
['2021-06-24', '4190.000000', '4236.200195', '4156.750000', '4226.899902', '4085.608154', '314542']
['2021-06-25', '4220.000000', '4249.000000', '4178.000000', '4196.149902', '4055.885986', '175051']
['2021-06-28', '4196.149902', '4205.250000', '4166.000000', '4183.450195', '4043.610840', '158954']
['2021-06-29', '4185.000000', '4188.850098', '4117.000000', '4124.649902', '3986.775879', '332405']
['2021-06-30', '4130.000000', '4164.000000', '4119.799805', '4133.850098', '3995.668701', '331122']
['2021-07-01', '4141.000000', '4250.000000', '4141.000000', '4204.549805', '4064.005127', '755502']
['2021-07-02', '4229.500000', '4229.500000', '4171.000000', '4175.350098', '4035.781494', '375525']
['2021-07-05', '4191.600098', '4249.899902', '4186.850098', '4201.500000', '4061.057129', '375703']
['2021-07-06', '4203.500000', '4249.000000', '4172.000000', '4195.399902', '4055.161133', '515181']
['2021-07-07', '4200.000000', '4224.000000', '4170.000000', '4188.250000', '4048.250000', '392794']
['2021-07-08', '4068.699951', '4118.399902', '4030.550049', '4077.300049', '4077.300049', '625491']

In [ ]:
data = {}
with open("XNSE-BAJAJ_AUTO.csv") as b, open("data-writes.txt", "w+") as w:
    pricelist = []
    for rec in b:
        rec = rec.strip()
        cols = [x.strip('"') for x in rec.split(',')]
        if cols[2] == "Open" or cols[2] == "High":
            continue
        if cols[1] in data:
            data[cols[1].strip()].append(float(cols[2]))
        else:
            data[cols[1].strip()] = [float(cols[2])]
    for year in data:
        avg_price = round(sum(data[year]) / len(data[year]), 2)
        w.write("Avg price for {} is {} \n".format(year, avg_price))

In [ ]:
data = {}
with open("XNSE-BAJAJ_AUTO.csv") as b, open("data-writes.txt", "w+") as w:
    pricelist = []
    for rec in b:
        rec = rec.strip()
        cols = [x.strip('"') for x in rec.split(',')]
        if cols[2] == "Open" or cols[2] == "High":
            continue
        if cols[1] in data:
            data[cols[1].strip()].append(float(cols[2]))
        else:
            data[cols[1].strip()] = [float(cols[2])]
    for year in data:
        avg_price = round(sum(data[year]) / len(data[year]), 2)
        w.write("Avg price for {} is {} \n".format(year, avg_price))

In [38]:
import os
name = os.listdir("/")
print(name)

['$Recycle.Bin', '$WinREAgent', 'data', 'Documents and Settings', 'DumpStack.log.tmp', 'hiberfil.sys', 'Intel', 'MinGW', 'pagefile.sys', 'PerfLogs', 'Program Files', 'Program Files (x86)', 'ProgramData', 'Recovery', 'swapfile.sys', 'System Volume Information', 'Users', 'Windows']

In [39]:
# text, file

In [40]:
import pickle

In [48]:
dict_pickle = {"key": "john", "name": "fred", "age": 21, "pat": 400000}
f = open("pickle1", "wb")
# dump the object
pickle.dump(dict_pickle, f)

In [57]:
# dump into string
s = pickle.dumps(dict_pickle)
print(s)

b'\x80\x04\x953\x00\x00\x00\x00\x00\x00\x00}\x94(\x8c\x03key\x94\x8c\x04john\x94\x8c\x04name\x94\x8c\x04fred\x94\x8c\x03age\x94K\x15\x8c\x03pat\x94J\x80\x1a\x06\x00u.'

In [72]:
pickle.loads(s)

{'key': 'john', 'name': 'fred', 'age': 21, 'pat': 400000}

In [50]:
# restore from a file
f = open('pickle1', 'rb')
# load the object
data = pickle.load(f)

In [51]:
data

{'key': 'john', 'name': 'fred', 'age': 21, 'pat': 400000}

In [52]:
import pickle

In [59]:
f = open("somedata1", "wb")

In [60]:
pickle.dump([1, 2, 3, 4], f)

In [61]:
pickle.dump("hello", f)

In [62]:
pickle.dump({"apple", "pear", "banana"}, f)

In [63]:
f.close()

In [65]:
f = open("somedata1", "rb")

In [66]:
pickle.load(f)

[1, 2, 3, 4]

In [68]:
pickle.load(f)

'hello'

In [69]:
pickle.load(f)

{'apple', 'banana', 'pear'}

In [77]:
import pickle

def storeData():
    # initializing the data
    # pickle_dataset_1 = {"key": "john", "name": "fred", "age": 21, "pay": 400000}
    # pickle_dataset_2 = {"key": "jay", "name": "jay", "age": 50, "pay": 500000}
    
    pickle_dataset_1 =  ["Ansu Fati", 10, "LWF"]
    pickle_dataset_2 = ["Pedri", 16, "CAM"]
    pickle_dataset_3 = ["Ronald Aroujo", 4, "CB"]
    
    
    db = {}
    db['Player1'] = pickle_dataset_1
    db['Player2'] = pickle_dataset_2
    dbfile = open('examplepickle', 'wb')
    pickle.dump(db, dbfile)
    dbfile.close()
    
def loadData():
    # for reading 
    
    dbfile = open("examplepickle", "rb")
    db = pickle.load(dbfile)
    
    for key in db:
        print(key, "==>", db[key])
    dbfile.close()
    
if __name__ == '__main__':
    storeData()
    loadData()

Player1 ==> ['Ansu Fati', 10, 'LWF']
Player2 ==> ['Pedri', 16, 'CAM']

In [78]:
# json data
import json
data = {
    "Name": "infy",
    "share": 100,
    "price": 1000
}

json_str = json.dumps(data)
print(json_str)

{"Name": "infy", "share": 100, "price": 1000}

In [79]:
data1 = json.loads(json_str)
print(data1)

{'Name': 'infy', 'share': 100, 'price': 1000}

In [80]:
with open("data.json", "w") as f:
    json.dump(data, f)

In [81]:
with open("data.json", "r") as f:
    g = json.load(f)
    print(data)

{'Name': 'infy', 'share': 100, 'price': 1000}

In [82]:
json.dumps(False)

'false'

In [83]:
d = {'a': True, "b": "Hello", c: None}

In [84]:
json.dumps(d)

'{"a": true, "b": "Hello", "0": null}'